
.customnavbar {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #00000080;
  position: fixed !important;
  z-index: 1;
}


.customnavbar .nav-link {
  margin: 0px 1vw 0px 1vw;
}

.customnavbar a {
  color: white !important;
}


@media (min-width: 992px) {
  .customnavbar {
    background-color: rgba(
      0,
      0,
      0,
      0.3
    ) !important; 
  }

  .customnavbar .navbar-center {
    margin-left: 20px;
  }

  
}
